body {
  text-align: center;
  /* background-color: rgb(222, 217, 238); */
  background-color: rgb(236, 245, 255);
  /* color: rgb(41, 86, 191); */
  color: black;
}

h1 {
  color: #000;
}

label h3 {
  color: rgb(15, 113, 229);
}

div {
  width: auto;
}

.add-task {
  display: inline-block;
  text-align: left;
  /* float: right; */
  margin-top: 0; 
}

.show-tasks {
  /* display: inline-block; */
  text-align: left;
  float: left; 
  margin-top: 0; 
}

button {
  cursor: pointer;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.task-details {
  padding: 10px;
  border-left: 4px solid #3f72e9;
}

.task-details h3 {
  margin-top: 0;
}

.task-details h3 strong {
  color: #3f72e9
}

.task-details p {
  margin: 5px 0;
  color: #333;
}

.task-details strong {
  color: #000;
}